.header_area {
  padding: 0;
  width: 100%;
  height: fit-content;
}
.navbar {
  padding: 0 2rem;
  background: #fff;
  border-bottom: 1px solid #eff2f7 !important;
  box-shadow: var(--box-shadow);
}
.navbar svg {
  color: var(--primary-color) !important;
}

.header-search {
  width: 400px;
  padding: 1.4rem 1rem;
  border: none;
  background: transparent;
  color: var(--text-color);
  font: normal 500 17px/20px var(--roboto);
}
.header-search::placeholder {
  color: var(--text-color);
}

.notification:hover svg {
  color: rgba(31, 45, 61, 0.8) !important;
  transition: color 0.4s ease;
}

.user-profile img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.user-profile span {
  font: normal bold 16px/28px var(--roboto);
  text-transform: capitalize;
  padding: 0rem 10px;
  color: var(--title-color);
}

.dropdown-menu {
  border: 1px solid #f5f7fa;
  border-radius: 0.375rem;
  border: 1px solid #eff2f7;
  box-shadow: var(--box-shadow2);
  padding: 1rem 1.5rem;
  border-top: 3px solid var(--primary-color);
}

.dropdown-menu::before {
  content: '';
  display: block;
  width: 0px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary-color);
  position: absolute;
  bottom: 80px;
  left: 9rem;
}

.dropdown-menu a {
  color: var(--text-color);
}

.no-caret::after {
  display: none;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
  left: -20px;
}

@media (max-width: 1225px) {
  .navbar .side-menu svg {
    color: var(--title-color);
  }
}

@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    left: -150px;
  }

  .dropdown-menu {
    padding: 1rem 0.5rem;
  }
  .dropdown-menu::before {
    left: 9.5rem;
  }
}
